{{ define "main" }}

{{- partial "content/breadcrumb.html" . -}}

  <div class="md:grid-cols-3 gap-8 mb-14">

  <section class="md:col-span-2">

    <h1 class="text-3xl font-bold mb-6">{{ .Title }}</h1>

      {{ if .Sections }}
      <div class="mb-6">
          <div class="flex flex-wrap"> {{ range .Sections }}
              <a href="{{ .Permalink }}" class="group flex items-center text-zinc-400 hover:text-black transition-colors" style="margin-right: 10px !important;">
                  <span class="text-lg font-bold tracking-tight">{{ .Title }}</span>
                  <span class="ml-1.5 text-xs font-medium opacity-50">({{ len .RegularPagesRecursive }})</span>
              </a>
              {{ end }}
          </div>
      </div>
      {{ end }}

    <div class="grid grid-cols-1 md:grid-cols-2 gap-y-10 gap-x-4">

        {{ $paginator := .Paginate .RegularPagesRecursive 6 }}
        {{ range $paginator.Pages }}

        {{- partial "content/card.html" . -}}

      {{ end }}

    </div>

    <!-- Paginate here -->

    <div class="flex items-center mt-10">
      {{- if .Paginator.HasPrev -}}
        <a class="border rounded-full px-6 py-2 hover:bg-zinc-200 mr-auto" href="{{ .Paginator.Prev.URL }}">← Previous</a>
      {{- end -}}

      {{- if .Paginator.HasNext -}}
        <a class="border rounded-full px-6 py-2 hover:bg-zinc-200" href="{{ .Paginator.Next.URL }}">Next →</a>
      {{- end -}}
    </div>

  </section>

<!--  <aside class="md:col-span-1">-->

<!--    {{- partial "content/aside.html" . -}}-->

<!--  </aside>-->

  </div>

{{ end }}
