<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="assets/css/tickercode.js"></script>

<div class="frame">
  <div style="text-align:center">
		<input style="vertical-align:middle;" id="ticker" type="text" placeholder="ex) AAPL"/>&nbsp;
		<a id="ticker_button" class="ui-button ui-widget ui-corner-all" href="#">Search</a>
		<img style="display: block; margin: 0px auto;" id="logo1" src="">
		<img style="display: block; margin: 0px auto;" id="logo2" src="">
  </div>
</div>

<script>

ticker.sort();

function getview(code) {
	code = document.getElementById('ticker').value
	document.getElementById('logo1').src = "./img/chart/" + code + ".png"
	document.getElementById('logo2').src = "./img/est/" + code + ".png"
}

$("#ticker").autocomplete({
        source: ticker,
        select: function(event, ui) {
			getview(ui.item)
        },
        focus: function(event, ui) {
            return false;
        }
    });
	
$("#ticker").on('keypress', function(e, code) {
    if (e.key === 'Enter') {
			getview(code)
    }
});

$("#ticker_button").click('keypress', function() {
    getview($("#ticker").val())
});



</script>